$main-color: purple;

.login-header {
    height: 10vh;
    background-color: $main-color;
}

.container.form-div {
    width: 40%;

    .btn {
        background-color: $main-color;
        padding-left: 3vw;
        padding-right: 3vw;

        &:hover {
            background-color: rgb(104, 7, 104);
        }

    }

    .signup-text {
        font-size: 1.2vw;

        span {
            color: $main-color;

            &:hover {
                cursor: pointer;
                color: rgb(104, 7, 104);
            }

        }
    }

    .spinners{
        margin: 15% 40%;

        .spinner-grow{
            background-color: $main-color;
            width: 2.5vw;
            height: 4vh;
        }

    }    

}

@media screen and (max-width: 450px) {
    .container.form-div {
        width: 100%;

        .signup-text {
            font-size: 4.5vw;
        }
    }
}