main {
    
    display: flex;
    flex-direction: column;

    .section {

        width: 55%;
        margin: auto;        

    }

    .buttons {

        justify-self: flex-end;        
        display: flex;
        align-self: center;

        button {

            background: none;
            border: none;
            font-size: 40px;
            margin-top: -20px;
            color: purple;

        }


    }
}

@media screen and (max-width: 910px) and (min-width: 601px) {
    main {
        
        .section {

            width: 80%;

        }

    }
}

@media screen and (max-width: 600px) and (min-width: 420px) {
    main {
        
        .section {

            width: 100%;

        }

    }
}

@media screen and (max-width: 420px) {
    main {
        
        .section {

            width: 95%;

        }

        .buttons {
            margin-left: 20%;
        }

    }
}