$main-color: purple;

.card {

    .product-div {

        .image {

            img {
                width: 100%;
                height: 80%;
            }

        }

        .info-div {

            .product-info {
                 
                p {
                    font-size: 1.3vw;
                }

                .price {
                    font-weight: 800;
                    color: $main-color;
                    font-size: 1.5vw;
                }

            }

            .product-btn {
                background-color: $main-color;

                &:hover {
                    background-color: rgb(97, 2, 97);
                }
                    
            }            

        }

    }

}

@media screen and (max-width: 900px) and (min-width: 600px) {
    
}

@media screen and (max-width: 600px) and (min-width: 420px) {
    
}

@media screen and (max-width: 420px) {    
 .card {
    width: 100%;    

    .product-div {        

        .info-div {

            .product-info {

                .title {
                    font-size: 7vw;
                }
                 
                p {
                    font-size: 5vw;
                }

                .price {
                    font-weight: 800;
                    color: $main-color;
                    font-size: 6vw;
                }

            }

        }

    }

 }   
}