$primary-color: #43D4FF;
$text-color: #ffffff;

.header {

    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: $primary-color;
    justify-content: space-between;    

    .image-div {

        width: 10%;
        margin: auto;

        img {
            height: 40px;
            width: auto;            
        }

    }  
    
    .form-nav-div {
        width: 65%;
        display: flex;
        flex-direction: column;

        &__form-div {

            form {

                input {
                    width: 80%;
                    margin: 2% 0;
                }

            }

        }

        &__nav-div {

            nav {

                ul {

                    display: flex;
                    flex-direction: row;
                    list-style: none;

                    li {

                        margin: 1%;
                        
                        a {
                            text-decoration: none;
                            color: $text-color;
                        }

                    }

                }

            }
        }

    }

    .nav-div {

        width: 15%;
        margin: auto;
        

        ul {

            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            list-style: none;

            li {

                a{

                    text-decoration: none;
                    color: $text-color;

                }

            }

        }

    }

}
