article.card {
    border-color: purple;
    height: 19vh;
    min-height: 160px;

    .row {

        height: 100%;

        .img {
            
            height: 100%;

            img {
                height: 100%;
                width: 60%;
            }
            
        }

        .btn {
            background-color: purple;

            &:hover {
                background-color: rgb(97, 2, 97);
            }

        }

    }

}

@media screen and (max-width: 910px) and (min-width: 601px) {
    article.card{
               

        .article {

            .img {                        
    
                img {             
                    width: 85%;
                }
                
            }

            .info {
                
                .card-body{

                    .card-title, .card-text, .menu-btn {

                        font-size: 2.2vw;

                    }

                }

            }
        }
    }
}

@media screen and (max-width: 600px) and (min-width: 420px) {
    article.card{
               

        .article {

            .img {                        
    
                img {             
                    width: 85%;
                }
                
            }

            .info {
                
                .card-body{

                    .card-title, .card-text, .menu-btn {

                        font-size: 4vw;

                    }

                }

            }
        }
    }
}

@media screen and (max-width: 420px) {
    article.card {
        width: 100%;
        height: 24vh;
        
        .article {

            .img {                        
    
                img {             
                    width: 100%;
                }
                
            }

            .info {
                
                .card-body{

                    .card-title, .card-text {
                        font-size: 4vw;

                    }                                       
                    
                    .menu-btn {

                        font-size: 2.9vw;

                    }

                }

            }

        }
    }
}