article.card {
    border-color: purple;
    height: 19vh;

    .row {

        height: 100%;

        .img {
            
            height: 100%;

            img {
                height: 100%;
                width: 60%;
            }
            
        }

        .btn {
            background-color: purple;

            &:hover {
                background-color: rgb(97, 2, 97);
            }

        }

    }

}

