.cart-card {        

    overflow: hidden;

    .row {
        
        .img {
            
            .card-image {
                width: 5vw;                
            }
        }

        .info {

            .price {
                background: none;
            }

        }
    }
}

@media screen and (max-width: 450px) {
    
    .cart-card {        
    
        .row {
            
            .img {
                
                .card-image {
                    width: 25vw;                
                }
            }
        }

    }

}