.cart-card {        

    overflow: hidden;

    .row {
        
        .img {
            
            .card-image {
                width: 5vw;                
            }
        }

        .info {

            .price {
                background: none;
            }

        }
    }
}